.jumbotron {
  padding-top: 6rem;
  background-color: #a7d0f1;
}

#Activity {
  background-color: #a7d0f1;
}

#contact {
  background-color: #a7d0f1;
}

section {
  padding-top: 5rem;
}
